######## clang-format style文件
## 20180802    clang-format4.0.0     gordon    初版
########

---
Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
# 参数换行如何对齐：Align/DontAlign/AlwaysBreak
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
# 换行连接符\位置，只能是true和false
# AlignEscapedNewlines: DontAlign (6.0使用该项)
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
# 短函数是否换行：None/Inline/Empty/All/InlineOnly(6.0支持该类型)
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BraceWrapping:   
    AfterClass:            true
    AfterControlStatement: true
    AfterEnum:             true
    AfterFunction:         true
    AfterNamespace:        true
    AfterObjCDeclaration:  true
    AfterStruct:           true
    AfterUnion:            true
    BeforeCatch:           false
    BeforeElse:            true
    IndentBraces:          false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakStringLiterals: false
# 一行列数限制，0不限制
ColumnLimit: 120
CommentPragmas: '^ IWYU pragma:'
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 8
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
ExperimentalAutoDetectBinPacking: false
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH ]
IncludeCategories: 
    - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
      Priority:        2
    - Regex:           '^(<|"(gtest|isl|json)/)'
      Priority:        3
    - Regex:           '.*'
      Priority:        1
IncludeIsMainRegex: '$'
IndentCaseLabels: true
IndentWidth: 4
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: true
MacroBlockBegin: ''
MacroBlockEnd:   ''
# 最大保留连续空行数
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
# 指针*位置：Left/Right/Middle
PointerAlignment: Left
ReflowComments: false
# 是否排序include
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
# C++标准：Cpp03/Cpp11/Auto
Standard: Cpp11
TabWidth: 4
UseTab: Never
